body{
    background-color: #f1f1f1;
}
.navbar-brand{
 font-size: 25px;
}

.nav-pills .nav-link{
    color: white;
    margin-left: 10px;
    border: 1px solid whitesmoke;
    height: 100%;
    width: 200px !important;
    text-align: center;
}
.nav-item{
    margin-bottom: 10px;
    margin-top: 10px;

}
.description{
    font-size: 18px;
}
.nav-pills .nav-link.active{
    background-color: whitesmoke;
    color: black;
    border-radius: 0px;
}

h1, h2, h3{
    text-align: center;
}
.card img{
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
}

.card-body{
    max-height: 300px !important;
    overflow-y: auto;
}
.card-body-compare{
    max-height: 100vh !important;
    overflow-y: auto;
}
.modal-dialog{
    max-width: 350px !important;
}

